span{
    -webkit-transition:all 10s ease-in;
    transition:all 10s ease-in;
    display:inline-block;
}
.fallen{
    /*-webkit-transform:translate(0,1000px);*/
    /*transform:translate(0,1000px);*/
    animation: fall 4s ease-in-out forwards;
}
p{
    margin:3em 5em;
}
@keyframes fall {
    from {
        transform: rotate(0) translateX(0);
        opacity: 1;
    }
    50%, 60% {
        transform: rotate(90deg) translateX(0);
        opacity: 1;
    }
    to {
        transform: rotate(90deg) translateX(200px);
        opacity: 0;
    }
}